/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #b8c1ec;
    background: #232946;
}

h1,
h2,
h3 {
    color: #eebbc3;
}

h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    color: #fffffe;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
}

.col {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* TEXT */
.text-center {
    text-align: center;
}

/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
.site-header {
    margin-top: 3rem;
}

/* LESSONS SECTION */
.lessons .col {
    width: 50%;
}

.lessons .col img {
    height: 200px;
    margin-bottom: 1rem;
}

/* STEPS SECTION */
.steps {
    margin: 3rem 0;
    padding: 3rem 0;
    color: #232946;
    background: #eebbc3;
}

.steps h2,
.steps h3 {
    color: #232946;
}

.steps .col {
    width: calc(100% / 3);
}

.steps .col img {
    height: 200px;
    margin-bottom: 1rem;
}

/* WHY US SECTION */
.why-us {
    margin-bottom: 3rem;
}
.why-us .col-left {
    width: 40%;
}

.why-us .col-right {
    width: 60%;
}

.why-us li {
    list-style: none;
    margin-bottom: 2.5rem;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

/* Media query TABLET */

@media screen and (max-width: 768px) {

    /* header titles */

    .site-header {
        margin-top: 5rem;
    }

    body {
        width: fit-content;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 4rem;
    }

    h2 {
        font-size: 50px;
        margin-bottom: 5rem;
    }

    /* Lessons cards */

    .lessons .col img {
        height: 300px;
    }

    h3 {
        font-size: 35px;
        margin-bottom: 2rem;
    }

    p {
        font-size: 23px;
    }

    /* Steps */

    .steps {
        padding: 5rem 0;
    }

    .steps .col img {
        height: 260px;
        margin-bottom: 3.5rem;
    }

    /* Why us */

    .why-us {
        margin-bottom: 5rem;
    }

    .why-us .container .text-center {
        padding-top: 2rem;
    }

    .col {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}


/* Media query SMARTPHONE */

@media screen and (max-width: 480px) {

    .container {
        padding: 0 100px;
    }
    
    /* Header */

    .site-header {
        margin-top: 8rem;
    }

    h1 {
        font-size: 120px;
        margin-bottom: 8rem;
    }

    h2 {
        font-size: 95px;
        margin-bottom: 7rem;
    }

    /* Lessons */

    .row {
        display: block;
    }

    .lessons .col {
        width: 100%;
    }

    .lessons .col img {
        width: 100%;
        height: fit-content;
        margin-bottom: 3rem;
    }

    h3 {
        font-size: 70px;
        margin-bottom: 3rem;
    }

    p {
        font-size: 48px;
    }

    .col {
        margin-bottom: 12rem;
    }

    /* Steps */

    .steps {
        padding: 8rem 0 2rem 0;
        margin: 0;
    }

    .steps .col {
        width: 100%;
    }

    .steps .col img {
        width: 100%;
        height: fit-content;
        margin-bottom: 3rem;
    }

    /* Why us */

    .why-us {
        background-color: #222222;
    }

}